In [1]:
import pandas as pd
import yaml
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
try:
    with open (r"config.yaml",'r') as file:
        config=yaml.safe_load(file)
except Exception as p:
    print("Error reading the config file")

In [3]:
df_final_demo=pd.read_csv(config["data"]["final_demo"])
df_experiment_clients=pd.read_csv(config["data"]["final_experiment"])
df_pt1=pd.read_csv(config["data"]["pt1"])
df_pt2=pd.read_csv(config["data"]["pt2"])

In [4]:
df_experiment_clients.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [5]:
df_experiment_clients["Variation"].value_counts()

Variation
Test       26968
Control    23532
Name: count, dtype: int64

In [6]:
df_experiment_clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  70609 non-null  int64
 1   Variation  50500 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

In [7]:
df_pt1.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [8]:
df_pt2.head(10)

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58
5,6019349,442094451_91531546617,154620534_35331068705_522317,start,2017-06-01 11:57:54
6,4726500,934350987_45569789638,467318052_88159801968_565608,confirm,2017-06-05 17:38:52
7,4726500,934350987_45569789638,467318052_88159801968_565608,step_3,2017-06-05 17:38:33
8,4726500,934350987_45569789638,467318052_88159801968_565608,step_2,2017-06-05 17:37:31
9,4726500,934350987_45569789638,467318052_88159801968_565608,step_1,2017-06-05 17:37:24

In [9]:
df_visitas=pd.concat([df_pt1, df_pt2], axis=0, ignore_index=True)

In [10]:
df_visitas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  object
 2   visit_id      755405 non-null  object
 3   process_step  755405 non-null  object
 4   date_time     755405 non-null  object
dtypes: int64(1), object(4)
memory usage: 28.8+ MB

In [11]:
# Eliminar filas que tienen NaN en todas las columnas excepto en 'client_id'
# Se borran filas ya que las mismas solo tenian el client id y ningun dato mas
df_final_demo = df_final_demo[~(df_final_demo.drop(columns=['client_id']).isna().all(axis=1))]

In [12]:
frequency_table = df_visitas['process_step'].value_counts()

In [13]:
frequency_table

process_step
start      243945
step_1     163193
step_2     133062
step_3     112242
confirm    102963
Name: count, dtype: int64

In [14]:
frequency_table.describe()

count         5.00000
mean     151081.00000
std       56830.70747
min      102963.00000
25%      112242.00000
50%      133062.00000
75%      163193.00000
max      243945.00000
Name: count, dtype: float64

In [15]:
# Convertir la columna 'time' a datetime
df_visitas['date_time'] = pd.to_datetime(df_visitas['date_time'], format="%Y-%m-%d %H:%M:%S")

In [18]:
df_visitas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  object
 2   visit_id      755405 non-null  object
 3   process_step  755405 non-null  object
 4   date_time     755405 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 28.8+ MB

In [19]:
df_visitas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  object
 2   visit_id      755405 non-null  object
 3   process_step  755405 non-null  object
 4   date_time     755405 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 28.8+ MB

In [20]:
# Asegúrate de que el DataFrame esté ordenado por visitor_id y date_time
df_visitas = df_visitas.sort_values(by=['visitor_id', 'date_time'])

# Inicializar columnas para guardar los tiempos
df_visitas['start_time'] = None
df_visitas['step_1_time'] = None
df_visitas['step_2_time'] = None
df_visitas['step_3_time'] = None
df_visitas['confirm_time'] = None

# Iterar por cada grupo de visitante
for visitor_id, group in df_visitas.groupby('visitor_id'):
    group = group.reset_index()  # Asegurarse de que los índices estén alineados
    for i in range(len(group) - 1):
        current_step = group.loc[i, 'process_step']
        next_step = group.loc[i + 1, 'process_step']
        current_time = group.loc[i, 'date_time']
        next_time = group.loc[i + 1, 'date_time']

        # Calcular el tiempo transcurrido entre pasos consecutivos
        duration = (next_time - current_time).total_seconds()

        # Asignar el tiempo a la columna correspondiente según el paso actual
        if current_step == 'start' and next_step == 'step_1':
            df_visitas.loc[group.loc[i, 'index'], 'start_time'] = duration
        elif current_step == 'step_1' and next_step == 'step_2':
            df_visitas.loc[group.loc[i, 'index'], 'step_1_time'] = duration
        elif current_step == 'step_2' and next_step == 'step_3':
            df_visitas.loc[group.loc[i, 'index'], 'step_2_time'] = duration
        elif current_step == 'step_3' and next_step == 'confirm':
            df_visitas.loc[group.loc[i, 'index'], 'step_3_time'] = duration

# Llenar los valores de confirm_time con 0, ya que no hay un paso siguiente
df_visitas.loc[df_visitas['process_step'] == 'confirm', 'confirm_time'] = 0

# Mostrar resultados
print(df_visitas[['visitor_id', 'process_step', 'start_time', 'step_1_time', 'step_2_time', 'step_3_time', 'confirm_time']])

                   visitor_id process_step start_time step_1_time step_2_time  \
444289  100011869_84756704576        start        5.0        None        None
444288  100011869_84756704576       step_1       None        16.0        None
444287  100011869_84756704576       step_2       None        None       135.0
444286  100011869_84756704576       step_3       None        None        None
444285  100011869_84756704576        start       None        None        None
...                       ...          ...        ...         ...         ...
128792  999998529_89539814462       step_2       None        None         8.0
128791  999998529_89539814462       step_3       None        None        None
128790  999998529_89539814462      confirm       None        None        None
128789  999998529_89539814462        start       18.0        None        None
128788  999998529_89539814462       step_1       None        None        None

       step_3_time confirm_time
444289        None         None
444288        None         None
444287        None         None
444286        None         None
444285        None         None
...            ...          ...
128792        None         None
128791       574.0         None
128790        None            0
128789        None         None
128788        None         None

[755405 rows x 7 columns]

In [21]:
df_final_demo

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [23]:
# Paso 1: Hacer el merge entre df_final_demo y df_visitas
df_merged = pd.merge(df_final_demo, df_visitas, on='client_id', how='inner')

# Paso 2: Hacer el merge del resultado anterior con df_experiment_clients
df_merged = pd.merge(df_merged, df_experiment_clients, on='client_id', how='inner')


pd.set_option('display.max_columns', None)
# Resultado final
print(df_merged.head())

   client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  num_accts  \
0     836976             6.0              73.0      60.5     U        2.0
1     836976             6.0              73.0      60.5     U        2.0
2     836976             6.0              73.0      60.5     U        2.0
3     836976             6.0              73.0      60.5     U        2.0
4     836976             6.0              73.0      60.5     U        2.0

       bal  calls_6_mnth  logons_6_mnth            visitor_id  \
0  45105.3           6.0            9.0  427070339_1413275162
1  45105.3           6.0            9.0  427070339_1413275162
2  45105.3           6.0            9.0  427070339_1413275162
3  45105.3           6.0            9.0  427070339_1413275162
4  45105.3           6.0            9.0  427070339_1413275162

                      visit_id process_step           date_time start_time  \
0  104438405_2368283624_817211        start 2017-03-29 10:58:35       None
1  104438405_2368283624_817211        start 2017-03-29 10:59:43       None
2  104438405_2368283624_817211        start 2017-03-29 11:01:40       None
3  104438405_2368283624_817211        start 2017-03-29 11:02:44       None
4  228976764_46825473280_96584        start 2017-04-02 11:21:28       10.0

  step_1_time step_2_time step_3_time confirm_time Variation
0        None        None        None         None      Test
1        None        None        None         None      Test
2        None        None        None         None      Test
3        None        None        None         None      Test
4        None        None        None         None      Test